body{
    font-family:Proxima Nova,helvetica neue,helvetica,arial,sans-serif ;
    margin:0px 0px ;
    background-image: url(/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    height: 100vh;
    width: 100vw;
    transition-property: background;
}
