header{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0.244);
    padding-top: 0;
    margin-top: 0;
    height: 64px;
}
.headerIcon{
    display: flex;
    justify-content: center;
}
.headerIcon>img{
    height: 52px;
    width: 90px;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#searchNav{
    display: inline-flex;
}
.navButtons{
    display: inline-flex;
}
