header{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0.244);
    padding-top: 0;
    margin-top: 0;
    height: 64px;
}
.headerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerIcon>img{
    height: 25px;
    width: 110px;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#searchNav{
    display: inline-flex;
}
.navButtons{
    display: inline-flex;


}
#signUpButton{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: flex;
    padding: 5px;
    margin-right: 20px;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;

}
#logInButton{

    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    padding: 5px;
}
